@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@100;0,300;0,400;500;0,600;0,700;1,300;1,400;900&display=swap');

html {
    scroll-behavior: smooth;

}
body {
    
    background-color:#050606;
    color:#F5F5F5;
    font-family:Poppins, sans-serif;
    position:relative;
    
}



/**************************
********TYPHOGRAPHY********
**************************/
.special-title {
    animation-name: title;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
}

@keyframes title {
    0%,50%, 100% { 
        font-weight:300;
        
    }
    25% {
        font-weight:500;
        
    }
    
    75% {
        font-weight:700;
        
    }
    
}
h1 {
    line-height:2em;
}
h1.special-title {
    font-size:2.5em;
    margin:0;
}
/*animation for about page */
h4.special-title {
    margin-top:0;
    margin-bottom:0;

    cursor:none;
    animation-name:color;
    animation-duration:2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

h4.special-title:hover {
    cursor:none;
}

@keyframes color{
    0%,50%,100%{
        color:#F3B91C;
    }
    25% {
        color:#EF3C40;
    }
    75%{
        color:#0067A5;
    }
}
h4.special-title:nth-child(2){
    animation-delay:.1s;
}
h4.special-title:nth-child(3){
    animation-delay:.2s;
}
h4.special-title:nth-child(4){
    animation-delay:.3s;
}
h4.special-title:nth-child(5){
    animation-delay:.4s;
}

h2 {
    line-height:2em;
    
}
h3 {
    font-size:1.5em;
    margin-top:0;
}
footer h3 {
    font-size:1.2em;
}
h4 {
    line-height:2em;
    font-weight:400;
    letter-spacing:.15em;
}
h5 {
    letter-spacing:.3em;
    font-weight: 300;
}
h6 {
    font-weight: 100;
    letter-spacing:.2em;
}
p {
    line-height:1.75em;
}
a,
a:visited  {
    color:#F5F5F5;
    text-decoration:none;
}
a:hover {
    color:#EF3C40;
    transition:.2s;
}


/* Buttons */
button {
    background-color:#05060685;
    padding:.2em 1em;
    border:none;
    border-bottom:solid 3px #F5F5F5;
}
button {
    text-decoration:none;
    color:#F5F5F5;
}

button:hover {
    border-bottom:solid 5px #0067A5;
    font-weight:600;
    transition: .2s;
    
}
#button-contact {
    font-size:1.75em;
}

#button-contact i {
    margin-left:.5em;
    animation:touch 1.5s  .2s infinite ;
    
   
}
@keyframes touch {
    0% {
        transform-origin:5px;
    }
    50% {
        transform:translateX(10px);
    }
}

/*STAMP*/
.stamp {
    z-index: 1;
    
}
.stamp img {
    width:120px;
    height:auto;
    animation:rollin 10s infinite linear;
    position:absolute;
    
}
.stamp-white {
    top:20px;
    right:25px;
}
.stamp-red {
    top:25px;
    right:28px;
    color:#EF3C40;
    opacity:30%;
}
.stamp-blue {
    top:30px;
    right:32px;
    color:#0067A5;
    opacity:30%;
}
@keyframes rollin {
    0% {
        transform:rotate(0deg);
        transform-origin:center;
    }
    100% {
      transform:rotate(-360deg);
      transform-origin:center;
    }
}
/**************************
********LAYOUT********
**************************/

.container {
    width:90%;
    margin:auto;
    display:grid;
    position:relative;
    
}
.container img {
    width:100%;
    
}
section:nth-child(3) {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    text-align: center;
    

}



/* Footer */
footer {
    margin-top:3em;
    padding-top:2em;
    justify-content: center;
    
    border-top:solid 1px #f5f5f57c;
    color:#f5f5f57e;
}
.row {
    display:flex;
    flex-direction: column;
    justify-content:space-between;
}
.col ul {
    padding:0;
}
.col ul li {
    list-style-type: none;
    margin-bottom: .5em;
    letter-spacing: .15em;
}

.go-top{
    position: fixed;
    bottom:2em;
    right:1em;
    text-decoration: none;
    color:inherit;
    background-color: #050606be;
    padding:1em;
    width:1.2em;
    height:1.4em;
    
    
}
.special {
    color:inherit;
    font-weight:500;
}
footer p {
    font-weight:300;
}
/**************************
********NAVIGATION********
**************************/
.brand {
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:1em;
    
}
#logo {
    display:none;
}
nav {
    text-align: center;
}
nav ul {
    list-style-type:none;
    display:none;
    padding-inline-start:0;
    
}
ul.main-menu {
    padding-left:none;
}

.menu-trigger {
    display:none;
}
.menu-trigger:checked + ul{
    display:block
}

nav ul a,
nav ul a:visited,
nav ul a:active {
    text-decoration:none;
    color:inherit;
    padding:1em 1.5em;
    display: block;
    margin-bottom: .25em;
}
nav ul a:hover,
nav ul a:focus {
    color:#F3B91C;
    letter-spacing:0.25em;
    transition:0.2s;
}

/**************************
**********BANNER**********
**************************/

header {
    
    height:100vh;
    
}
.heading {
    /*
    height:70vh;*/
    display:grid;
    grid-template-columns:100%;
    
}


#logo {
    width:60px;
    height:auto;
}

.banner-link {
    display:inline-block;
    margin-bottom:1.5em;
}

.heading-texts {
   display:flex;
   flex-direction:column;
   
}
/* parallax banner image*/
.heading-img {  
    background-image:url('../img/index/imgbanner.jpg');
    /* Set a specific height */
    min-height: 40vh; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    font-size:1em;
}
.social {
    margin-top:1em;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.im.im{
    font-size:30px;
}
.im.im:nth-child(2) {
    font-size:40px;
}

.scroll {
    margin-top:1em;
    animation:scroll 1.5s  .2s infinite ;
    display:flex;
    justify-content: center;
   
}
@keyframes scroll {
    0% {
        transform-origin:3px;
    }
    50% {
        transform:translateY(5px);
    }
}
/**************************
********IMAGE CARD********
**************************/

.card {
    position:relative;
    transition: opacity 0.3s, transform .5s 1s;
    
} 
.card a:hover {
    cursor: url('../img/hover.gif'), pointer;

}

.card img {
    opacity:1;
    width:100%;
}

.caption {
    position:absolute;
    top:20px;
    left:40px;

    color:#F5F5F5;
}
.projects {
    margin-bottom:3em;
}

.contact-title {
    background-image:url(../img/index/letter.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    height:100%;
}

/*------------------------------------
------------ABOUT PAGE----------------
------------------------------------*/
.heading-about {
    display:flex;
    flex-direction:column;    
    text-align:center;
}
.heading-about h5,h2,p {
    margin-top:0;
    margin-bottom:0;
}
/*image gallery*/
.gallery-wrap {
  display: none;
}
.intouch {
    text-align:center;
}
/*------------------------------------
------------CONTACT PAGE--------------
------------------------------------*/
.heading-contact {
    margin-top:1.5em;
    display:flex;
    flex-direction:column;
}
form {
    margin-top:2em;
    
    display:flex;
    flex-direction: column;
    width:80%;
}
form p {
    margin-bottom:2em;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
textarea, 
input {
    width:90%;
    background-color:#f5f5f528;
    border:none;
    border-bottom:solid 2px #F5F5F5;
    color:#F5F5F5;
    padding:.3em;
}
textarea:focus, 
input:focus {
    border-bottom:solid 3px #EF3C40;
    background-color: #050606;
}
input {
    height:1em;
}
textarea {
    height:8em;
    resize: vertical;
}
form button {
    width:7em;
}
.contact-img {
    display:none;
}
/************************************
***************TABLET***************
************************************/

@media (min-width:768px)  {
    html, body {
        max-width:100%;
        overflow-x:hidden;
    }
    .stamp {
        z-index:1;
    }
    .stamp img {
        width:200px;
        top:70vh;
    }
    .stamp-white{
        top:70vh;
    }

    /*Navigation*/
    #logo {
        display:block;
    }
   .hmic {
       display:none;
    }
    
    .menu-trigger:checked + ul,
    nav ul{
    display: flex;
    flex-wrap: wrap;
    font-size:1.1em;
    }
    
    nav ul li {
        flex:1;
        margin-right:.25em;
    }
    nav ul li:last-child {
        margin-right:0;
    }
    
    /*Typography*/

    h1.special-title {
        font-size:4em;
    }
    h2 {
        font-size:2em;
    }
    h3 {
        font-size:1.8em;
    }
    p {
        line-height:2em;
        font-size:1.3em;
    }
    h5 {
        font-size: 1.2em;
    }
    button {
        font-size:1.4em;
    }
    
    /* BANNER header*/
    .brand img:hover {
        opacity:.7;
        transition: .2s;
    }
    .brand {
        grid-row:1/2;
        grid-column:1/4 ;
        flex-direction:row;
        justify-content:space-between;
    }
    
    
    .heading {
        grid-template-columns:repeat(6,1fr);
        grid-template-rows:80% 13% auto;
        
    }
    .heading-texts {
        grid-column:1/5;
        grid-row:1/2;
        z-index:1;
    }
    .heading-img {
        grid-column:3/7;
        grid-row:1/3;

        min-height: 80vh; 
        background-position: cover;
    }
  
    .heading-texts {
        justify-content:center;
        
    }
    .social {
        grid-column:1/3;
        grid-row:2/3;
        margin-top:0;
        align-items: flex-end;
        justify-content:space-between;

        margin-right:2em;
    }
  
    .scroll {
        grid-column:1/7;
        margin-top:1.5em;
    }
    
    
    /*Footer*/
    footer p{
        font-size:1em;
    }
    .row {
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    .col:nth-child(1) {
        width:100%;
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    .col:nth-child(1) p {
        margin-left:1.5em;
        margin-right:1.5em;
    }
    
    .col:nth-child(2){
        width:60%;
    }
    .col:nth-child(3) {
        width:30%;
        
    }

    /*Sections*/
    
    .projects {
        display:grid;
        grid-template-columns:repeat(2,1fr);
        grid-gap:1em;
        
    }
    section:nth-child(3) {
        display:grid;
        grid-template-columns:1fr 1fr;
        grid-gap:.5em;
        text-align:left;
        
        
    }
    .contact-title {
        grid-column:1/2;
        grid-row:1/4;
       
        display:flex;
        justify-content:center;
        align-items:center;
    }
   
    #photo-contact {
        grid-column:1/2;
        grid-row:1/3;
        position:absolute;
        top:30px;
        
    }
    #button-contact {
        grid-column:2/3;
        width:10em;
    }
    /*------------------------------------
    ------------ABOUT PAGE----------------
    ------------------------------------*/
    .heading-about h2,p {
        margin-bottom:.5em;
        margin-top:0;
    }
   
    .gallery-wrap {
        margin-bottom:1.5em;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 30vh;
    }
      
    .item {
        flex: 1;
        height:auto;
        background-position: center;
        background-size: cover;
        background-repeat: none;
        transition: flex 0.8s ease;
    
    }
    .item:hover{
        flex: 7;
    }
    .item-1 { 
        background-image: url('../img/about/1.jpg');
    }
    
    .item-2 { 
        background-image: url('../img/about/2.jpg');
    }
    
    .item-3 { 
        background-image: url('../img/about/3.jpg');
    }
    
    .item-4 { 
        background-image: url('../img/about/4.jpg');
    }
    
    .item-5 { 
        background-image: url('../img/about/5.jpg');
    }

    /*------------------------------------
    ------------CONTACT PAGE--------------
    ------------------------------------*/
    .heading-contact {
        margin-top:1.5em;
    }
    form {
        margin-top:.5em;
        height:auto;
        flex-direction: row;
        flex-wrap:wrap;
    }
    form p{
        margin-bottom:0;
        margin-top:1.25em;
    }
    form p:nth-child(1) {
        flex-basis:calc(35% - 4px);
    }
    form p:nth-child(2) {
        flex-basis:calc(65% - 4px);
    }
    form p:nth-child(3) {
        flex-basis:100%;
    }
    form p:nth-child(3) label {
        width:100%;
        display:flex;
        flex-direction: column;
    }
    .contact-direct{
        margin-top:2em;
        margin-bottom:2em;
        text-align:center;
    }
    
}
/************************
********DESKTOP**********
************************/
@media (min-width:960px)  {

    h1.special-title {
        font-size:5em;
    }
    h4 {
        font-size:1.5em;
    }
    /*Layout*/
    .container {
        width:80%;
    }
    .stamp img {
        width:250px;
        top:65vh;
        
    }
    .stamp-white {
        right:80px;
    }
    .stamp-red {
        right:85px;
    }
    .stamp-blue {
        right:90px;
    }
    /*Image cards*/
    .projects {
        grid-gap:2em;
    }
    .caption {
        color:#F5F5F5;
        left:60px;
    }
    .card:hover img {
        opacity:0.6;
    }
    .card:hover .caption {
        animation: fadein .2s ease-in-out .2s 1 forwards;
        opacity:0;
    }

    @keyframes fadein {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
    }

    /*Banner*/
    .heading-texts {
        grid-column:1/4;
    }
    /*Navigation*/
    nav ul {
        font-size:1.25em;
    }
    #logo {
        width:5em;
    }
    /*footer*/
    .col:nth-child(1) p {
        flex-basis:calc(45% - 4px);
        margin-right:0;
        margin-left:0;
    }
    /*Section*/
    #photo-contact {
        top:-50px;
    }
    /*Image gallery*/
    .gallery-wrap {
        height:40vh;
    }
    /*Form*/
    form p:nth-child(1) {
        flex-basis:calc(40% - 4px);
    }
    form p:nth-child(2) {
        flex-basis:calc(60% - 4px);
    }
    form p:nth-child(3) {
        flex-basis:100%;
        flex-direction:row;
    }
    
    
}

@media (min-width: 1200px) {
    .stamp-white {
        right:160px;
    }
    .stamp-red {
        right:165px;
    }
    .stamp-blue {
        right:170px;
    }
}